

#container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(4,auto);
    gap:10px;
    margin:auto;
    width:90%;
    margin-top: 1cm;

}
#container>img{
    height:8cm;
}
h3{
    font-family: sans-serif;
    margin-top: -5px;
}
button{
    background-color: blue;
    color: black;
    width:95%;
    height:1cm;
    border: blue;
    margin:auto;
    font-weight: 100;
}
h4{
  
   font-family: sans-serif;
   margin-top: -1px;
}

select{
    width:3.5cm;
    margin-left:1cm;
    margin-top: 1cm;
    font-family: sans-serif;
    height:1cm;
    font-weight: 300;
}
.bottoms {
    display: flex;
    padding: 3%;
    margin-top: 0px;
}
.bottoms > div {
    margin: 0 3%;
    font-size: smaller;
    flex-basis: 14%;
}
.bottoms p {
    font-weight: 300;
}
